

body {
    background-color: #292929;
    font-family: 'Roboto', sans-serif;
}


/* Navbar */
.navbar a {
    color: #F04E41;
    font-size: 25px;
    font-weight: 800;
}

.navbar {
    background-color: #292929;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* End of Navbar */


/* Jumbotron */
.jumbotron {
    background-color: #424242;
    color: #ffffff;
}

.lead {
    font-size: 30px;
}
/* End of Jumbotron */

/* Skills */
.skills div div h3 {
    color: #F04E41;
    font-size: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.skills div div p {
    color: #ffffff;
    font-size: 25px;
}
/* End of Skills */

/* Projects */
#projects, #about, #contact {
    margin-bottom: 50px;
    margin-top: 50px;
}

.buttons a {
    background-color: #424242;
    border-color: #424242;
    color: #ffffff;
    font-weight: 600;
    outline: transparent;
}

.buttons a:hover {
    background-color: #F04E41;
    border-color: #F04E41;
    color: #ffffff;
}
/* End of Projects */


/* About Me */
.aboutme {
    color: #ffffff;
    font-size: 18px;
}
/* End of About Me */


/* Contact */
.contact-links p {
    font-size: 20px;
    color: #ffffff;
}

.contact-links {
    cursor: pointer;
}

.contact-links i {
    color: #ffffff;
    margin-right: 15px;
}
/* End of Contact */


/* Media Queries */
@media (min-width: 990px) {

    .navbar ul li a:hover {
        color: #ffffff;
        cursor: pointer;
    }

    .navbar ul li a {
        display: block;
        transition: background-color 1.2s;
    }
}

@media (max-width: 1200px) {

    .contact-links p {
        font-size: 18px;
    }
}

@media (max-width: 990px) {

    .navbar {
        background-color: #424242;
    }

    .navbar-toggler-icon {
       margin-top: 20px;
    }

    .navbar button {
        outline: none;
    }

    .contact-links p {
        font-size: 20px;
    }
}
/* End of Media Queries */